html {
	min-height: 100vh;
	font-family: Helvetica, Arial, sans-serif;
	color: #262626;
	background: #fafafa;
	text-decoration: none;
}

#root {
	display: flex;
	background: #fafafa;
	justify-content: center;
	padding-top: 54px;
	padding-bottom: 54px;
	text-decoration: none;
}
